:root {
	--padding: 8px;
	--radius: var(--padding);
	--transition: 0.05s ease-in-out;

	--bg: #FFFFFF;
	--fg: #000000;
	--box: var(--bg);
	--input: #F8F8F8;
	--inputborder: var(--main);

	--main: #ECAFDA;
	--min-width: 350px;
	--max-width: 1100px;

	--shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: #242426;
		--fg: #FFFFFF;
		--box: #42444C;
		--input: var(--bg);

		--next: #FFFFFF;
		--word: #B0B0B0;
	}
}


body {
	background: var(--bg);

	display: flex;
	flex-wrap: wrap;
	align-content: start;
	justify-content: center;
}

a:any-link, a:visited {
	color: var(--main); 
}

input, body, button {
	color: var(--fg);
	font-family: "Roboto Mono", monospace;
}

#logo {
	width: 100vw;
	text-align: center;
	height: fit-content;
	margin: calc(var(--padding) * 2);
	transition: transform, filter, 0.1s ease-in-out;
}

#logo:active {
	transform: scale(0.95);
	filter: brightness(1.2);
}

#main {
	width: 75vw;
	height: fit-content;
	max-width: var(--max-width);
	min-width: var(--min-width);

	background: var(--box);
	box-shadow: var(--shadow);
	border-radius: var(--radius);

	align-items: center;
	padding: var(--padding);
}

#footer {
	opacity: 0.6;
	text-align: center;
	font-style: italic;
	margin: var(--padding);
	margin-top: calc(var(--padding) * 3);
}

@media (max-width: 350px) {
	:root {
		--min-width: calc(100vw - calc(var(--padding) * 4));
	}
}

input {
	width: 100%;
	outline: none;
	background: var(--input);
	border: var(--input) 3px solid;
	padding: calc(var(--padding) / 1.5);
	transition: border var(--transition);
	border-radius: calc(var(--radius) / 2);
}

input:focus {border: var(--inputborder) 3px solid}

.result .header {
	display: flex;
	cursor: pointer;
	padding: var(--padding);
	border-radius: var(--radius);
	justify-content: space-between;
	width: calc(100% - calc(var(--padding) * 2));
}

.result:nth-child(odd) .header {
	background: var(--input);
}

.result .header .cell:first-child {
	width: 50%;
	text-align: left;
	font-weight: 600;
}

.result .header .cell {
	width: 25%;
	text-align: center;
	line-break: anywhere;
}

.content {
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.2s ease-in-out;
}

.padding {
	padding: calc(var(--padding) * 4) calc(var(--padding) * 2);
}

.content.open {
	max-height: 100vh;
}
